body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    background-position: center center;
}
.logo {
    height: 50px;
    width: 50;
}

header,footer{
  background-color: #333;
  color: white;
  padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    text-align: center;
    margin-top: auto;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    color: green;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.container {
    background-color: white;
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.main-text {
    background-color: #e9ecef;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.info{
    text-align: left;
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: left;
}

input, textarea, button {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}


